body{overflow-x:hidden;color:#676a6c;font-size:13px;font-family: 微软雅黑, 'Microsoft YaHei', Helvetica, Tahoma, StSun, 宋体, SimSun, sans-serif;/*"open sans","Helvetica Neue",Helvetica,Arial,sans-serif*/}
body,body.full-height-layout #page-wrapper,body.full-height-layout #wrapper,html{height:100%}
#page-wrapper{min-height:auto}
body.boxed-layout #wrapper{margin:0 auto;max-width:1200px;background-color:#2f4050}
.boxed-layout #wrapper.top-navigation,.top-navigation.boxed-layout #wrapper{max-width:1300px!important}
.block{display:block}
.clear{display:block;overflow:hidden}
a{cursor:pointer}
a:focus,a:hover{text-decoration:none}
h1,h2,h3,h4,h5,h6{font-weight:100}
h1{font-size:30px}
h2{font-size:24px}
h3{font-size:16px}
h4{font-size:14px}
h5{font-size:12px}
h6{font-size:10px}
h3,h4,h5{margin-top:5px;/*font-weight:600*/}
a:focus{outline:0}
.nav>li>a{padding:14px 20px 14px 25px;color:#a7b1c2;/*font-weight:600*/}
.nav li>a{display:block}
.nav.navbar-right>li>a{color:#999c9e}
.nav>li.active>a{color:#fff}
.navbar-default .nav>li>a:focus,.navbar-default .nav>li>a:hover{background-color:#293846;color:#fff}
.nav .open>a,.nav .open>a:focus,.nav .open>a:hover{background:#fff}
.nav>li>a i{margin-right:6px}
.navbar{border:0}
.navbar-default{position:relative;border-color:#2f4050;background-color:transparent}
.navbar-top-links li{display:inline-block}
.navbar-top-links li:last-child{margin-right:30px}
body.body-small .navbar-top-links li:last-child{margin-right:10px}
.navbar-top-links li a{padding:20px 10px;min-height:50px}
.dropdown-menu{position:absolute;top:100%;left:0;z-index:1000;float:left;display:none;padding:0;border:medium none;border-radius:0;box-shadow:0 0 3px rgba(86,96,117,.3);list-style:none outside none;text-shadow:none;font-size:12px}
.dropdown-menu>li>a{margin:4px;border-radius:3px;color:inherit;text-align:left;font-weight:400;line-height:25px}
.dropdown-menu>li>a.font-bold{font-weight:600}
.navbar-top-links .dropdown-menu li{display:block}
.navbar-top-links .dropdown-menu li:last-child{margin-right:0}
.navbar-top-links .dropdown-menu li a{padding:3px 20px;min-height:0}
.navbar-top-links .dropdown-menu li a div{white-space:normal}
.navbar-top-links .dropdown-alerts,.navbar-top-links .dropdown-messages,.navbar-top-links .dropdown-tasks{width:310px;min-width:0}
.navbar-top-links .dropdown-messages{margin-left:5px}
.navbar-top-links .dropdown-tasks{margin-left:-59px}
.navbar-top-links .dropdown-alerts{margin-left:-123px}
.navbar-top-links .dropdown-user{right:0;left:auto}
.dropdown-alerts,.dropdown-messages{padding:10px}
.dropdown-alerts li a,.dropdown-messages li a{font-size:12px}
.dropdown-alerts li em,.dropdown-messages li em{font-size:10px}
.nav.navbar-top-links .dropdown-alerts a{font-size:12px}
.nav-header{padding:33px 25px}
.nav>li.active{border-left:4px solid #19aa8d;background:#293846}
.nav.nav-second-level>li.active{border:0}
.nav.nav-second-level.collapse[style]{height:auto!important}
.nav-header a{color:#dfe4ed}
.nav-header .text-muted{color:#8095a8}
.minimalize-styl-2{float:left;margin:14px 5px 5px 20px;padding:4px 12px;font-size:14px}
.navber-mtitle { float:left;float: left;  margin-bottom: 0; margin-left: 10px;  margin-top: -4px;}
.navbar-form-custom{float:left;display:inline-table;padding:0;width:200px;height:50px}
.navbar-form-custom .form-group{margin-bottom:0}
.nav.navbar-top-links a{font-size:14px}
.navbar-form-custom .form-control{z-index:2000;margin:0;height:60px;border:medium none;background:none repeat scroll 0 0 transparent;font-size:14px}
.count-info .label{position:absolute;top:12px;right:6px;padding:1px 5px;line-height:12px}
.arrow{float:right;margin-top:2px}
.fa.arrow:before{content:"\f104"}
.active>a>.fa.arrow:before{content:"\f107"}
.nav-second-level li,.nav-third-level li{border-bottom:none!important}
.nav-second-level li a{padding:7px 15px 7px 10px;padding-left:52px}
.nav-third-level li a{padding-left:62px}
.nav-second-level li:last-child{margin-bottom:10px}
.mini-navbar .nav li:focus>.nav-second-level,body:not(.fixed-sidebar):not(.canvas-menu).mini-navbar .nav li:hover>.nav-second-level{display:block;height:auto;min-width:140px;border-radius:0 2px 2px 0}
body.mini-navbar .navbar-default .nav>li>.nav-second-level li a{border-radius:0 2px 2px 0;font-size:12px}
.mini-navbar .nav-second-level li a{padding:10px 10px 10px 15px}
.canvas-menu.mini-navbar .nav-second-level{background:#293846}
.mini-navbar li.active .nav-second-level{left:65px}
.navbar-default .special_link a{background:#1ab394;color:#fff}
.navbar-default .special_link a:hover{background:#17987e!important;color:#fff}
.navbar-default .special_link a span.label{background:#fff;color:#1ab394}
.navbar-default .landing_link a{background:#1cc09f;color:#fff}
.navbar-default .landing_link a:hover{background:#1ab394!important;color:#fff}
.navbar-default .landing_link a span.label{background:#fff;color:#1cc09f}
.logo-element{display:none;padding:18px 0;color:#fff;text-align:center;font-weight:600;font-size:18px}
.pace-done #page-wrapper,.pace-done .footer,.pace-done .nav-header,.pace-done .navbar-static-side,.pace-done li.active{-webkit-transition:all .3s;transition:all .3s}
.navbar-fixed-top{z-index:2030;-webkit-transition-duration:.5s;transition-duration:.5s}
.navbar-fixed-top,.navbar-static-top{background:#f3f3f4}
.fixed-nav #wrapper{box-sizing:border-box;padding-top:60px}
.fixed-nav .minimalize-styl-2{margin:14px 5px 5px 15px}
.body-small .navbar-fixed-top{margin-left:0}
body.mini-navbar .navbar-static-side{width:70px}
body.mini-navbar .nav-label,body.mini-navbar .navbar-default .nav li a span,body.mini-navbar .profile-element{display:none}
body.canvas-menu .profile-element{display:block}
body:not(.fixed-sidebar):not(.canvas-menu).mini-navbar .nav-second-level{display:none}
body.mini-navbar .navbar-default .nav>li>a{font-size:16px}
body.mini-navbar .logo-element{display:block}
body.canvas-menu .logo-element{display:none}
body.mini-navbar .nav-header{padding:0;background-color:#1ab394}
body.canvas-menu .nav-header{padding:33px 25px}
body.mini-navbar #page-wrapper{margin:0 0 0 70px}
body.canvas-menu.mini-navbar #page-wrapper,body.canvas-menu.mini-navbar .footer{margin:0}
body.canvas-menu .navbar-static-side,body.fixed-sidebar .navbar-static-side{position:fixed;z-index:2001;width:220px;height:100%}
body.fixed-sidebar.mini-navbar .navbar-static-side{width:70px}
body.body-small.fixed-sidebar.mini-navbar #page-wrapper,body.fixed-sidebar.mini-navbar #page-wrapper{margin:0 0 0 70px}
body.body-small.fixed-sidebar.mini-navbar .navbar-static-side{width:70px}
.fixed-sidebar.mini-navbar .nav li>.nav-second-level{display:none}
.fixed-sidebar.mini-navbar .nav li.active{border-left-width:0}
.canvas-menu.mini-navbar .nav li:hover>.nav-second-level,.fixed-sidebar.mini-navbar .nav li:hover>.nav-second-level{position:absolute;top:0;left:70px;display:block;padding:10px 10px 0;min-width:140px;border-radius:2px;background-color:#2f4050;font-size:12px}
body.fixed-sidebar.mini-navbar .navbar-default .nav>li>.nav-second-level li a{border-radius:3px;font-size:12px}
body.canvas-menu.mini-navbar .navbar-default .nav>li>.nav-second-level li a{border-radius:3px;font-size:13px}
.canvas-menu.mini-navbar .nav-second-level li a,.fixed-sidebar.mini-navbar .nav-second-level li a{padding:10px 10px 10px 15px}
.canvas-menu.mini-navbar .nav-second-level,.fixed-sidebar.mini-navbar .nav-second-level{position:relative;padding:0;font-size:13px}
.canvas-menu.mini-navbar li.active .nav-second-level,.fixed-sidebar.mini-navbar li.active .nav-second-level{left:0}
body.canvas-menu nav.navbar-static-side{position:fixed;z-index:2001;display:none;height:100%;background:#2f4050}
body.canvas-menu.mini-navbar nav.navbar-static-side{display:block;width:70px}
.top-navigation #page-wrapper{margin-left:0}
.top-navigation .navbar-nav .dropdown-menu>.active>a{background:#fff;color:#1ab394;font-weight:700}
.white-bg .navbar-fixed-top,.white-bg .navbar-static-top{background:#fff}
.top-navigation .navbar{margin-bottom:0}
.top-navigation .nav>li>a{padding:15px 20px;color:#676a6c}
.top-navigation .nav>li a:focus,.top-navigation .nav>li a:hover{background:#fff;color:#1ab394}
.top-navigation .nav>li.active{border:0;background:#fff}
.top-navigation .nav>li.active>a{color:#1ab394}
.top-navigation .navbar-right{padding-right:10px}
.top-navigation .navbar-nav .dropdown-menu{border:1px solid #e7eaec;box-shadow:none}
.top-navigation .dropdown-menu>li>a{margin:0;padding:7px 20px}
.navbar .dropdown-menu{margin-top:0}
.top-navigation .navbar-brand{padding:15px 25px;background:#1ab394;color:#fff}
.top-navigation .navbar-top-links li:last-child{margin-right:0}
.body-small.fixed-sidebar.mini-navbar .top-navigation #page-wrapper,.canvas-menu #page-wrapper,.mini-navbar .top-navigation #page-wrapper,.top-navigation.body-small.fixed-sidebar.mini-navbar #page-wrapper,.top-navigation.mini-navbar #page-wrapper{margin:0}
.fixed-nav #wrapper.top-navigation,.top-navigation.fixed-nav #wrapper{margin-top:50px}
.top-navigation .footer.fixed{margin-left:0!important}
.top-navigation .wrapper.wrapper-content{padding:40px}
.body-small .top-navigation .wrapper.wrapper-content,.top-navigation.body-small .wrapper.wrapper-content{padding:40px 0}
.navbar-toggle{padding:6px 12px;color:#fff;font-size:14px}
.top-navigation .navbar-nav .open .dropdown-menu .dropdown-header,.top-navigation .navbar-nav .open .dropdown-menu>li>a{padding:10px 15px 10px 20px}
@media(max-width:768px){.top-navigation .navbar-header{float:none;display:block}
}
.menu-visible-lg,.menu-visible-md{display:none!important}
@media(min-width:1200px){.menu-visible-lg{display:block!important}
}
@media(min-width:992px){.menu-visible-md{display:block!important}
}
@media(max-width:767px){.menu-visible-lg,.menu-visible-md{display:block!important}
}
.btn{border-radius:3px}
.float-e-margins .btn{margin-bottom:5px}
.btn-w-m{min-width:120px}
.btn-primary.btn-outline{color:#1ab394}
.btn-success.btn-outline{color:#1c84c6}
.btn-info.btn-outline{color:#23c6c8}
.btn-warning.btn-outline{color:#f8ac59}
.btn-danger.btn-outline{color:#ed5565}
.btn-danger.btn-outline:hover,.btn-info.btn-outline:hover,.btn-primary.btn-outline:hover,.btn-success.btn-outline:hover,.btn-warning.btn-outline:hover{color:#fff}
.btn-primary{border-color:#1ab394;background-color:#1ab394;color:#FFF}
.btn-primary.active,.btn-primary:active,.btn-primary:focus,.btn-primary:hover,.open .dropdown-toggle.btn-primary{border-color:#18a689;background-color:#18a689;color:#FFF}
.btn-primary.active,.btn-primary:active,.open .dropdown-toggle.btn-primary{background-image:none}
.btn-primary.active[disabled],.btn-primary.disabled,.btn-primary.disabled.active,.btn-primary.disabled:active,.btn-primary.disabled:focus,.btn-primary.disabled:hover,.btn-primary[disabled],.btn-primary[disabled]:active,.btn-primary[disabled]:focus,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary,fieldset[disabled] .btn-primary.active,fieldset[disabled] .btn-primary:active,fieldset[disabled] .btn-primary:focus,fieldset[disabled] .btn-primary:hover{border-color:#1dc5a3;background-color:#1dc5a3}
.btn-success{border-color:#1c84c6;background-color:#1c84c6;color:#FFF}
.btn-success.active,.btn-success:active,.btn-success:focus,.btn-success:hover,.open .dropdown-toggle.btn-success{border-color:#1a7bb9;background-color:#1a7bb9;color:#FFF}
.btn-success.active,.btn-success:active,.open .dropdown-toggle.btn-success{background-image:none}
.btn-success.active[disabled],.btn-success.disabled,.btn-success.disabled.active,.btn-success.disabled:active,.btn-success.disabled:focus,.btn-success.disabled:hover,.btn-success[disabled],.btn-success[disabled]:active,.btn-success[disabled]:focus,.btn-success[disabled]:hover,fieldset[disabled] .btn-success,fieldset[disabled] .btn-success.active,fieldset[disabled] .btn-success:active,fieldset[disabled] .btn-success:focus,fieldset[disabled] .btn-success:hover{border-color:#1f90d8;background-color:#1f90d8}
.btn-info{border-color:#23c6c8;background-color:#23c6c8;color:#FFF}
.btn-info.active,.btn-info:active,.btn-info:focus,.btn-info:hover,.open .dropdown-toggle.btn-info{border-color:#21b9bb;background-color:#21b9bb;color:#FFF}
.btn-info.active,.btn-info:active,.open .dropdown-toggle.btn-info{background-image:none}
.btn-info.active[disabled],.btn-info.disabled,.btn-info.disabled.active,.btn-info.disabled:active,.btn-info.disabled:focus,.btn-info.disabled:hover,.btn-info[disabled],.btn-info[disabled]:active,.btn-info[disabled]:focus,.btn-info[disabled]:hover,fieldset[disabled] .btn-info,fieldset[disabled] .btn-info.active,fieldset[disabled] .btn-info:active,fieldset[disabled] .btn-info:focus,fieldset[disabled] .btn-info:hover{border-color:#26d7d9;background-color:#26d7d9}
.btn-default{/*border-color:#c2c2c2;background-color:#c2c2c2;color:#FFF*/}
.btn-default.active,.btn-default:active,.btn-default:focus,.btn-default:hover,.open .dropdown-toggle.btn-default{border-color:#bababa;background-color:#bababa;color:#FFF}
.btn-default.active,.btn-default:active,.open .dropdown-toggle.btn-default{background-image:none}
.btn-default.active[disabled],.btn-default.disabled,.btn-default.disabled.active,.btn-default.disabled:active,.btn-default.disabled:focus,.btn-default.disabled:hover,.btn-default[disabled],.btn-default[disabled]:active,.btn-default[disabled]:focus,.btn-default[disabled]:hover,fieldset[disabled] .btn-default,fieldset[disabled] .btn-default.active,fieldset[disabled] .btn-default:active,fieldset[disabled] .btn-default:focus,fieldset[disabled] .btn-default:hover{border-color:#ccc;background-color:#ccc}
.btn-warning{border-color:#f8ac59;background-color:#f8ac59;color:#FFF}
.btn-warning.active,.btn-warning:active,.btn-warning:focus,.btn-warning:hover,.open .dropdown-toggle.btn-warning{border-color:#f7a54a;background-color:#f7a54a;color:#FFF}
.btn-warning.active,.btn-warning:active,.open .dropdown-toggle.btn-warning{background-image:none}
.btn-warning.active[disabled],.btn-warning.disabled,.btn-warning.disabled.active,.btn-warning.disabled:active,.btn-warning.disabled:focus,.btn-warning.disabled:hover,.btn-warning[disabled],.btn-warning[disabled]:active,.btn-warning[disabled]:focus,.btn-warning[disabled]:hover,fieldset[disabled] .btn-warning,fieldset[disabled] .btn-warning.active,fieldset[disabled] .btn-warning:active,fieldset[disabled] .btn-warning:focus,fieldset[disabled] .btn-warning:hover{border-color:#f9b66d;background-color:#f9b66d}
.btn-danger{border-color:#ed5565;background-color:#ed5565;color:#FFF}
.btn-danger.active,.btn-danger:active,.btn-danger:focus,.btn-danger:hover,.open .dropdown-toggle.btn-danger{border-color:#ec4758;background-color:#ec4758;color:#FFF}
.btn-danger.active,.btn-danger:active,.open .dropdown-toggle.btn-danger{background-image:none}
.btn-danger.active[disabled],.btn-danger.disabled,.btn-danger.disabled.active,.btn-danger.disabled:active,.btn-danger.disabled:focus,.btn-danger.disabled:hover,.btn-danger[disabled],.btn-danger[disabled]:active,.btn-danger[disabled]:focus,.btn-danger[disabled]:hover,fieldset[disabled] .btn-danger,fieldset[disabled] .btn-danger.active,fieldset[disabled] .btn-danger:active,fieldset[disabled] .btn-danger:focus,fieldset[disabled] .btn-danger:hover{border-color:#ef6776;background-color:#ef6776}
.btn-link{color:inherit}
.btn-link.active,.btn-link:active,.btn-link:focus,.btn-link:hover,.open .dropdown-toggle.btn-link{color:#1ab394;text-decoration:none}
.btn-link.active,.btn-link:active,.open .dropdown-toggle.btn-link{background-image:none}
.btn-link.active[disabled],.btn-link.disabled,.btn-link.disabled.active,.btn-link.disabled:active,.btn-link.disabled:focus,.btn-link.disabled:hover,.btn-link[disabled],.btn-link[disabled]:active,.btn-link[disabled]:focus,.btn-link[disabled]:hover,fieldset[disabled] .btn-link,fieldset[disabled] .btn-link.active,fieldset[disabled] .btn-link:active,fieldset[disabled] .btn-link:focus,fieldset[disabled] .btn-link:hover{color:#cacaca}
.btn-white{border:1px solid #e7eaec;background:#fff;color:inherit}
.btn-white.active,.btn-white:active,.btn-white:focus,.btn-white:hover,.open .dropdown-toggle.btn-white{border:1px solid #d2d2d2;color:inherit}
.btn-white.active,.btn-white:active{box-shadow:0 2px 5px rgba(0,0,0,.15) inset}
.btn-white.active,.btn-white:active,.open .dropdown-toggle.btn-white{background-image:none}
.btn-white.active[disabled],.btn-white.disabled,.btn-white.disabled.active,.btn-white.disabled:active,.btn-white.disabled:focus,.btn-white.disabled:hover,.btn-white[disabled],.btn-white[disabled]:active,.btn-white[disabled]:focus,.btn-white[disabled]:hover,fieldset[disabled] .btn-white,fieldset[disabled] .btn-white.active,fieldset[disabled] .btn-white:active,fieldset[disabled] .btn-white:focus,fieldset[disabled] .btn-white:hover{color:#cacaca}
.form-control,.form-control:focus,.has-error .form-control:focus,.has-success .form-control:focus,.has-warning .form-control:focus,.navbar-collapse,.navbar-form,.navbar-form-custom .form-control:focus,.navbar-form-custom .form-control:hover,.open .btn.dropdown-toggle,.popover,.progress,.progress-bar{box-shadow:none}
.btn-outline{background-color:transparent;color:inherit;-webkit-transition:all .5s;transition:all .5s}
.btn-rounded{border-radius:50px}
.btn-large-dim{width:90px;height:90px;font-size:42px}
button.dim{position:relative;display:inline-block;margin-right:10px;margin-bottom:20px!important;padding-top:6px;border-radius:5px;color:#fff;text-align:center;text-decoration:none;text-transform:uppercase;font-weight:600;cursor:pointer}
button.dim:active{top:3px}
button.btn-primary.dim{box-shadow:inset 0 0 0 #16987e,0 5px 0 0 #16987e,0 10px 5px #999}
button.btn-primary.dim:active{box-shadow:inset 0 0 0 #16987e,0 2px 0 0 #16987e,0 5px 3px #999}
button.btn-default.dim{box-shadow:inset 0 0 0 #b3b3b3,0 5px 0 0 #b3b3b3,0 10px 5px #999}
button.btn-default.dim:active{box-shadow:inset 0 0 0 #b3b3b3,0 2px 0 0 #b3b3b3,0 5px 3px #999}
button.btn-warning.dim{box-shadow:inset 0 0 0 #f79d3c,0 5px 0 0 #f79d3c,0 10px 5px #999}
button.btn-warning.dim:active{box-shadow:inset 0 0 0 #f79d3c,0 2px 0 0 #f79d3c,0 5px 3px #999}
button.btn-info.dim{box-shadow:inset 0 0 0 #1eacae,0 5px 0 0 #1eacae,0 10px 5px #999}
button.btn-info.dim:active{box-shadow:inset 0 0 0 #1eacae,0 2px 0 0 #1eacae,0 5px 3px #999}
button.btn-success.dim{box-shadow:inset 0 0 0 #1872ab,0 5px 0 0 #1872ab,0 10px 5px #999}
button.btn-success.dim:active{box-shadow:inset 0 0 0 #1872ab,0 2px 0 0 #1872ab,0 5px 3px #999}
button.btn-danger.dim{box-shadow:inset 0 0 0 #ea394c,0 5px 0 0 #ea394c,0 10px 5px #999}
button.btn-danger.dim:active{box-shadow:inset 0 0 0 #ea394c,0 2px 0 0 #ea394c,0 5px 3px #999}
button.dim:before{display:block;padding-top:10px;color:#fff;font-weight:400;font-size:50px;line-height:1em}
button.dim:active:before{top:7px;font-size:50px}
.label{padding:3px 8px;background-color:#d1dade;color:#5e5e5e;text-shadow:none;font-weight:600;font-size:10px}
.badge{padding-right:6px;padding-bottom:4px;padding-left:6px;background-color:#d1dade;color:#5e5e5e;text-shadow:none;font-weight:600;font-size:11px}
.badge-primary,.label-primary{background-color:#1ab394;color:#FFF}
.badge-success,.label-success{background-color:#1c84c6;color:#FFF}
.badge-warning,.label-warning{background-color:#f8ac59;color:#FFF}
.badge-warning-light,.label-warning-light{background-color:#f8ac59;color:#fff}
.badge-danger,.label-danger{background-color:#ed5565;color:#FFF}
.badge-info,.label-info{background-color:#23c6c8;color:#FFF}
.badge-inverse,.label-inverse{background-color:#262626;color:#FFF}
.badge-white,.label-white{background-color:#FFF;color:#5e5e5e}
.badge-disable,.label-white{background-color:#2a2e36;color:#8b91a0}
.chosen-container-single .chosen-single{position:relative;overflow:hidden;-moz-box-sizing:border-box;margin:0;padding:4px 12px;width:100%;height:auto!important;min-height:30px;border:1px solid #cbd5dd;border-radius:2px;background:#fff;background-color:#FFF;box-shadow:none;cursor:text}
.chosen-container-multi .chosen-choices li.search-choice{position:relative;margin:3px 0 3px 5px;padding:3px 20px 3px 5px;border:1px solid #ededed;border-radius:2px;background:#f1f1f1;box-shadow:none;color:#333;line-height:13px;cursor:default}
.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover{z-index:2;border-color:#DDD;background-color:#f4f4f4;color:inherit;cursor:default}
.pagination>li>a,.pagination>li>span{position:relative;float:left;margin-left:-1px;padding:4px 10px;border:1px solid #DDD;background-color:#FFF;color:inherit;text-decoration:none;line-height:1.42857}
.tooltip-inner{background-color:#2f4050}
.tooltip.top .tooltip-arrow{border-top-color:#2f4050}
.tooltip.right .tooltip-arrow{border-right-color:#2f4050}
.tooltip.bottom .tooltip-arrow{border-bottom-color:#2f4050}
.tooltip.left .tooltip-arrow{border-left-color:#2f4050}

.jqstooltip{box-sizing:content-box}

.media-body{display:block;width:auto}
a.list-group-item.active,a.list-group-item.active:focus,a.list-group-item.active:hover{z-index:2;border-color:#1ab394;background-color:#1ab394;color:#FFF}
.list-group-item-heading{margin-top:10px}
.list-group-item-text{margin:0 0 10px;color:inherit;font-size:12px;line-height:inherit}
.no-padding .list-group-item{border-right:0;border-bottom:0;border-left:0}
.no-padding .list-group-item:first-child{border-top:0;border-right:0;border-bottom:0;border-left:0}
.no-padding .list-group{margin-bottom:0}
.list-group-item{position:relative;display:block;margin-bottom:-1px;padding:10px 15px;border:1px solid #e7eaec;background-color:inherit}
.flot-chart{display:block;height:200px}
.widget .flot-chart.dashboard-chart{display:block;margin-top:40px;height:120px}
.flot-chart.dashboard-chart{display:block;margin-top:40px;height:180px}
.flot-chart-content{width:100%;height:100%}
.flot-chart-pie-content{margin:auto;width:200px;height:200px}
.jqstooltip{position:absolute;top:0;left:0;z-index:10000;display:block;visibility:hidden;padding:5px;min-height:22px;border-radius:3px;background:#2b303a;background-color:rgba(43,48,58,.8);color:#fff;text-align:left;white-space:nowrap}
.jqsfield{color:#fff;text-align:left}
.h-200{min-height:200px}
.legendLabel{padding-left:5px}
.stat-list li:first-child{margin-top:0}
.stat-list{margin:0;padding:0;list-style:none}
.stat-percent{float:right}
.stat-list li{position:relative;margin-top:15px}
.img-circle{border-radius:50%}
.btn-circle{padding:6px 0;width:30px;height:30px;border-radius:15px;text-align:center;font-size:12px;line-height:1.428571429}
.btn-circle.btn-lg{padding:10px 16px;width:50px;height:50px;border-radius:25px;font-size:18px;line-height:1.33}
.btn-circle.btn-xl{padding:10px 16px;width:70px;height:70px;border-radius:35px;font-size:24px;line-height:1.33}
.show-grid [class^=col-]{padding-top:10px;padding-bottom:10px;border:1px solid #ddd;background-color:#eee!important}
.show-grid{margin:15px 0}
.css-animation-box h1{font-size:44px}
.pace{-webkit-pointer-events:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.pace .pace-progress{position:fixed;top:0;z-index:2000;width:100%;height:2px;background:#1ab394}
.pace-inactive{display:none}
.geo-statistic h1{margin-bottom:0;font-size:36px}
.glyphicon.fa{font-family:FontAwesome}
.inline{display:inline-block!important}
.input-s-sm{width:120px}
.input-s{width:200px}
.input-s-lg{width:250px}
.i-checks{padding-left:0}
.form-control,.single-line{display:block;padding:6px 12px;width:100%;border:1px solid #e5e6e7;border-radius:1px;background-color:#FFF;background-image:none;color:inherit;font-size:14px;-webkit-transition:border-color .15s ease-in-out 0s,box-shadow .15s ease-in-out 0s;transition:border-color .15s ease-in-out 0s,box-shadow .15s ease-in-out 0s}
.form-control:focus,.single-line:focus{border-color:#1ab394!important}
.has-success .form-control{border-color:#1ab394}
.has-warning .form-control{border-color:#f8ac59}
.has-error .form-control{border-color:#ed5565}
.has-success .control-label{color:#1ab394}
.has-warning .control-label{color:#f8ac59}
.has-error .control-label{color:#ed5565}
.input-group-addon{padding:6px 12px;border:1px solid #e5e6e7;border-radius:1px;background-color:#fff;color:inherit;text-align:center;font-weight:400;font-size:14px;line-height:1}
.spinner-buttons.input-group-btn .btn-xs{line-height:1.13}
.spinner-buttons.input-group-btn{width:20%}
.noUi-connect{background:none repeat scroll 0 0 #1ab394;box-shadow:none}
.slider_red .noUi-connect{background:none repeat scroll 0 0 #ed5565;box-shadow:none}
.ui-sortable .ibox-title{cursor:move}
.ui-sortable-placeholder{visibility:visible!important;border:1px dashed #cecece!important;background:#e7eaec}
.ibox.ui-sortable-placeholder{margin:0 0 23px!important}
.tabs-container .panel-body{position:relative;padding:20px;border:1px solid #e7eaec;border-radius:2px;background:#fff}
.tabs-container .nav-tabs>li.active>a,.tabs-container .nav-tabs>li.active>a:focus,.tabs-container .nav-tabs>li.active>a:hover{background-color:#fff}
.tabs-container .nav-tabs>li{float:left;margin-bottom:-1px}
.tabs-container .nav-tabs>li.active>a,.tabs-container .nav-tabs>li.active>a:focus,.tabs-container .nav-tabs>li.active>a:hover{border:1px solid #e7eaec;border-bottom-color:transparent}
.tabs-container .nav-tabs{border-bottom:1px solid #e7eaec}
.tabs-container .tab-pane .panel-body{border-top:0}
.tabs-container .tabs-left .tab-pane .panel-body,.tabs-container .tabs-right .tab-pane .panel-body{border-top:1px solid #e7eaec}
.tabs-container .nav-tabs>li a:hover{border-color:transparent;background:0}
.tabs-container .tabs-below>.nav-tabs,.tabs-container .tabs-left>.nav-tabs,.tabs-container .tabs-right>.nav-tabs{border-bottom:0}
.tabs-container .tabs-left .panel-body{position:static}
.tabs-container .tabs-left>.nav-tabs,.tabs-container .tabs-right>.nav-tabs{width:20%}
.tabs-container .tabs-left .panel-body{margin-left:20%;width:80%}
.tabs-container .tabs-right .panel-body{margin-right:20%;width:80%}
.tabs-container .pill-content>.pill-pane,.tabs-container .tab-content>.tab-pane{display:none}
.tabs-container .pill-content>.active,.tabs-container .tab-content>.active{display:block}
.tabs-container .tabs-below>.nav-tabs{border-top:1px solid #e7eaec}
.tabs-container .tabs-below>.nav-tabs>li{margin-top:-1px;margin-bottom:0}
.tabs-container .tabs-below>.nav-tabs>li>a{border-radius:0 0 4px 4px}
.tabs-container .tabs-below>.nav-tabs>li>a:focus,.tabs-container .tabs-below>.nav-tabs>li>a:hover{border-top-color:#e7eaec;border-bottom-color:transparent}
.tabs-container .tabs-left>.nav-tabs>li,.tabs-container .tabs-right>.nav-tabs>li{float:none}
.tabs-container .tabs-left>.nav-tabs>li>a,.tabs-container .tabs-right>.nav-tabs>li>a{margin-right:0;margin-bottom:3px;min-width:74px}
.tabs-container .tabs-left>.nav-tabs{float:left;margin-right:19px}
.tabs-container .tabs-left>.nav-tabs>li>a{margin-right:-1px;border-radius:4px 0 0 4px}
.tabs-container .tabs-left>.nav-tabs .active>a,.tabs-container .tabs-left>.nav-tabs .active>a:focus,.tabs-container .tabs-left>.nav-tabs .active>a:hover{border-color:#e7eaec transparent #e7eaec #e7eaec}
.tabs-container .tabs-right>.nav-tabs{float:right;margin-left:19px}
.tabs-container .tabs-right>.nav-tabs>li>a{margin-left:-1px;border-radius:0 4px 4px 0}
.tabs-container .tabs-right>.nav-tabs .active>a,.tabs-container .tabs-right>.nav-tabs .active>a:focus,.tabs-container .tabs-right>.nav-tabs .active>a:hover{z-index:1;border-color:#e7eaec #e7eaec #e7eaec transparent}
label.error{display:inline-block;margin-left:5px;color:#cc5965}
.form-control.error{border:1px dotted #cc5965}
.forum-post-container .media{margin:10px;padding:20px 10px;border-bottom:1px solid #f1f1f1}
.forum-avatar{float:left;margin-right:20px;width:110px;text-align:center}
.forum-avatar .img-circle{width:48px;height:48px}
.media-body>.media .forum-avatar{margin-right:10px;width:70px}
.media-body>.media .forum-avatar .img-circle{width:38px;height:38px}
.border-bottom{border-bottom:1px solid #e7eaec!important}
.font-bold{font-weight:600}
.font-noraml{font-weight:400}
.text-uppercase{text-transform:uppercase}
.b-r{border-right:1px solid #e7eaec}
.hr-line-dashed{margin:20px 0;height:1px;border-top:1px dashed #e7eaec;background-color:#fff;color:#fff}
.hr-line-solid{margin-top:15px;margin-bottom:15px;border-style:solid!important;border-bottom:1px solid #e7eaec;background-color:transparent}
video{width:100%!important;height:auto!important}
.modal-content{outline:0 none;border:1px solid transparent;border-radius:4px;background-color:#FFF;background-clip:padding-box;box-shadow:0 1px 3px rgba(0,0,0,.3)}
.modal-dialog{z-index:1200}
.modal-body{padding:20px 30px 30px}
.inmodal .modal-body{background:#f8fafb}
.inmodal .modal-header{padding:30px 15px;text-align:center}
.animated.modal.fade .modal-dialog{-webkit-transform:none;transform:none;-ms-transform:none}
.inmodal .modal-title{font-size:26px}
.inmodal .modal-icon{color:#e2e3e3;font-size:84px}
.modal-footer{margin-top:0}
#wrapper{overflow-x:hidden;width:100%;background-color:#2f4050}
.wrapper{padding:0 20px}
.wrapper-content{ padding: 10px 20px;}
#page-wrapper{position:inherit;margin:0 0 0 220px;padding:0 15px}
.title-action{padding-top:30px;text-align:right}
.ibox-content h1,.ibox-content h2,.ibox-content h3,.ibox-content h4,.ibox-content h5,.ibox-title h1,.ibox-title h2,.ibox-title h3,.ibox-title h4,.ibox-title h5{margin-top:5px}
ol.unstyled,ul.unstyled{margin-left:0;list-style:none outside none}
.big-icon{color:#e5e6e7;font-size:160px}
.footer{overflow:hidden;margin:0 -15px;padding:10px 20px;height:36px;border-top:1px solid #e7eaec;background:none repeat scroll 0 0 #fff}
.footer.fixed_full{position:fixed;right:0;bottom:0;left:0;z-index:1000;padding:10px 20px;border-top:1px solid #e7eaec;background:#fff}
.footer.fixed{position:fixed;right:0;bottom:0;left:0;z-index:1000;margin-left:220px;padding:10px 20px;border-top:1px solid #e7eaec;background:#fff}
body.body-small.mini-navbar .footer.fixed,body.mini-navbar .footer.fixed{margin:0 0 0 70px}
body.canvas-menu .footer.fixed,body.mini-navbar.canvas-menu .footer.fixed{margin:0!important}
body.fixed-sidebar.body-small.mini-navbar .footer.fixed{margin:0 0 0 220px}
body.body-small .footer.fixed{margin-left:0}
.J_menuTab{-webkit-transition:all .3s ease-out 0s;transition:all .3s ease-out 0s; -moz-transition:all .3s ease-out 0s;}
.page-heading{padding:0 20px 20px;border-top:0}
.panel-heading h1,.panel-heading h2{margin-bottom:5px}
.content-tabs{position:relative;height:42px;background:#fafafa;line-height:40px}
.content-tabs .roll-nav,.page-tabs-list{position:absolute;top:0;z-index:2;width:40px;height:40px;color:#999;text-align:center}
.content-tabs .roll-left{left:0;border-right:solid 1px #eee}
.content-tabs .roll-right{right:0;border-left:solid 1px #eee}
.content-tabs button{width:40px;height:40px;outline:0;border:0;background:#fff}
.content-tabs button:hover{background:#fafafa}
nav.page-tabs{overflow:hidden;margin-left:40px;width:100000px;height:40px}
nav.page-tabs .page-tabs-content{float:left}
.page-tabs a{float:left;display:block;padding:0 15px;border-right:solid 1px #eee}
.page-tabs a i:hover{color:#c00}
.content-tabs .roll-nav:hover,.page-tabs a:hover{background:#f2f2f2;color:#777;cursor:pointer}
.roll-right.J_tabRight{right:140px}
.roll-right.btn-group{right:60px;padding:0;width:80px}
.roll-right.btn-group button{width:80px}
.roll-right.J_tabExit{width:60px;height:40px;outline:0;background:#fff}
.dropdown-menu-right{left:auto}
#content-main{overflow:hidden;height:calc(100% - 140px)}
.fixed-nav #content-main{overflow:hidden;height:calc(100% - 80px)}
.panel.blank-panel{margin:0;background:0}
.blank-panel .panel-heading{padding-bottom:0}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover{border-color:#ddd #ddd transparent;border-style:solid;border-width:1px;border-bottom:#f3f3f4;-webkit-border-image:none;-o-border-image:none;border-image:none;background:0;color:#555;cursor:default;-moz-border-bottom-colors:none;-moz-border-left-colors:none;-moz-border-right-colors:none;-moz-border-top-colors:none}
.nav.nav-tabs li{border:0;background:0}
.nav-tabs>li>a{padding:10px 20px 10px 25px;color:#a7b1c2;font-weight:600}
.nav-tabs>li>a:focus,.nav-tabs>li>a:hover{background-color:#e6e6e6;color:#676a6c}
.ui-tab .tab-content{padding:20px 0}
.no-padding{padding:0!important}
.no-borders{border:none!important}
.no-margins{margin:0!important}
.no-top-border{border-top:0!important}
.border-left-right{border-top:0;border-right:1px solid #e7eaec;border-bottom:0;border-left:1px solid #e7eaec}
.border-left{border-top:0;border-right:0;border-bottom:0;border-left:1px solid #e7eaec}
.border-right{border-top:0;border-right:1px solid #e7eaec;border-bottom:0;border-left:0}
.full-width{width:100%!important}
.link-block{padding:10px;font-size:12px}
.nav.navbar-top-links .link-block a{font-size:12px}
.link-block a{color:inherit;font-size:10px}
body.mini-navbar .branding{display:none}
img.circle-border{border:6px solid #FFF;border-radius:50%}
.branding{float:left;padding:17px 20px;background-color:#1ab394;color:#FFF;text-align:center;font-weight:600;font-size:18px}
.login-panel{margin-top:25%}
.page-header{margin:0 0 20px;padding:20px 0 9px;border-bottom:1px solid #eee}
.gray-bg{background-color:#f3f3f4}
.white-bg{background-color:#fff}
.navy-bg{background-color:#1ab394;color:#fff}
.blue-bg{background-color:#1c84c6;color:#fff}
.lazur-bg{background-color:#23c6c8;color:#fff}
.yellow-bg{background-color:#f8ac59;color:#fff}
.red-bg{background-color:#ed5565;color:#fff}
.black-bg{background-color:#262626}
.panel-primary{border-color:#1ab394}
.panel-primary>.panel-heading{border-color:#1ab394;background-color:#1ab394}
.panel-success{border-color:#1c84c6}
.panel-success>.panel-heading{border-color:#1c84c6;background-color:#1c84c6;color:#fff}
.panel-info{border-color:#23c6c8}
.panel-info>.panel-heading{border-color:#23c6c8;background-color:#23c6c8;color:#fff}
.panel-warning{border-color:#f8ac59}
.panel-warning>.panel-heading{border-color:#f8ac59;background-color:#f8ac59;color:#fff}
.panel-danger{border-color:#ed5565}
.panel-danger>.panel-heading{border-color:#ed5565;background-color:#ed5565;color:#fff}
.progress-bar{background-color:#1ab394}
.progress-small,.progress-small .progress-bar{height:10px}
.progress-mini,.progress-small{margin-top:5px}
.progress-mini,.progress-mini .progress-bar{margin-bottom:0;height:5px}
.progress-bar-navy-light{background-color:#3dc7ab}
.progress-bar-success{background-color:#1c84c6}
.progress-bar-info{background-color:#23c6c8}
.progress-bar-warning{background-color:#f8ac59}
.progress-bar-danger{background-color:#ed5565}
.panel-title{font-size:inherit}
.text-navy{color:#1ab394}
.text-primary{color:inherit}
.text-success{color:#1c84c6}
.text-info{color:#23c6c8}
.text-warning{color:#f8ac59}
.text-danger{color:#ed5565}
.text-muted{color:#888}
.img-shadow{box-shadow:0 0 3px 0 #919191}
a.close-canvas-menu{position:absolute;top:10px;right:15px;z-index:1011;color:#a7b1c2}
a.close-canvas-menu:hover{color:#fff}
.full-height{height:100%}
.modal-backdrop{z-index:2040!important}
.modal{z-index:2050!important;}
/* body.modal-open{padding-right:inherit!important} */
body.modal-open{padding-right:initial!important}
.search-form{margin-top:10px}
.search-result h3{margin-bottom:0;color:#1e0fbe}
.search-result .search-link{color:#006621}
.search-result p{margin-top:5px;font-size:12px}
.contact-box{margin-bottom:20px;padding:20px;border:1px solid #e7eaec;background-color:#fff}
.contact-box a{color:inherit}
.middle-box{z-index:100;margin:0 auto;padding-top:40px;max-width:400px}
.middle-box h1{font-size:170px}
.wrapper .middle-box{margin-top:140px}
.list-group.clear-list .list-group-item{padding:10px 0;border-top:1px solid #e7eaec;border-right:0;border-bottom:0;border-left:0}
body.body-small.mini-navbar .footer.fixed,body.rtls.mini-navbar .footer.fixed{margin:0 70px 0 0}
body.body-small.mini-navbar .footer.fixed,body.rtls.mini-navbar.fixed-sidebar .footer.fixed{margin:0}
.default-skin{background:#1ab394;font-weight:600}
.default-skin:hover{background:#199d82}
.blue-skin:hover{background:#0d8ddb}
.yellow-skin:hover{background:#ce8735}
.content-tabs{border-bottom:solid 2px #2f4050}
.page-tabs a{color:#999}
.page-tabs a i{color:#ccc}
.page-tabs a.active{background:#2f4050;color:#a7b1c2}
.page-tabs a.active i:hover,.page-tabs a.active:hover{background:#293846;color:#fff}
@media(min-width:768px){.navbar-top-links .dropdown-alerts,.navbar-top-links .dropdown-messages,.navbar-top-links .dropdown-tasks{margin-left:auto}
}
@media(max-width:768px){body.fixed-sidebar .navbar-static-side{display:none}
body.fixed-sidebar.mini-navbar .navbar-static-side{width:70px}
.lock-word,.navbar-form-custom{display:none}
.navbar-header{float:left;display:inline}
.sidebard-panel{position:relative;z-index:2;width:auto;min-height:100%!important}
.sidebar-content .wrapper{z-index:1;padding-right:0}
.fixed-sidebar.body-small .navbar-static-side{position:fixed;z-index:2001;display:none;width:220px}
.fixed-sidebar.body-small.mini-navbar .navbar-static-side{display:block}
.content-tabs{display:none}
#content-main{height:calc(100% - 100px)}
.fixed-nav #content-main{height:calc(100% - 38px)}
}
.navbar-static-side{background:#2f4050}
.nav-close{position:absolute;top:5px;right:5px;z-index:10;display:none;padding:10px;color:rgba(255,255,255,.3);font-size:1.4em;cursor:pointer}
@media(max-width:350px){body.fixed-sidebar.mini-navbar .navbar-static-side{width:0}
.nav-close{display:block}
#page-wrapper{margin-left:0!important}
.nav.navbar-top-links li.dropdown{display:none}
}
.checkbox input[type=checkbox],.checkbox-inline input[type=checkbox],.radio input[type=radio],.radio-inline input[type=radio]{margin-top:-4px}
@media(max-width:1000px){.welcome-message{display:none}
}
.checkbox-inline,.checkbox-inline+.checkbox-inline,.radio-inline,.radio-inline+.radio-inline{margin:0 15px 0 0}
.navbar-toggle{background-color:#fff}
::-webkit-scrollbar-track{background-color:#f5f5f5}
::-webkit-scrollbar{width:6px;background-color:#f5f5f5}
::-webkit-scrollbar-thumb{background-color:#999}
@media only screen and (-webkit-min-device-pixel-ratio:2){#content-main{-webkit-overflow-scrolling:touch}
}
.navbar-header{width:60%}

/* panel begin */

.m-auto{margin:0 auto!important}
.m-0{margin:0!important}
.m-1{margin:1px!important}
.m-2{margin:2px!important}
.m-3{margin:3px!important}
.m-4{margin:4px!important}
.m-5{margin:5px!important}
.m-10{margin:10px!important}
.m-15{margin:15px!important}
.m-20{margin:20px!important}
.m-25{margin:25px!important}
.m-30{margin:30px!important}
.m-35{margin:35px!important}
.m-40{margin:40px!important}
.m-t-0{margin-top:0!important}
.m-t-1{margin-top:1px!important}
.m-t-2{margin-top:2px!important}
.m-t-3{margin-top:3px!important}
.m-t-4{margin-top:4px!important}
.m-t-5{margin-top:5px!important}
.m-t-10{margin-top:10px!important}
.m-t-15{margin-top:15px!important}
.m-t-20{margin-top:20px!important}
.m-t-25{margin-top:25px!important}
.m-t-30{margin-top:30px!important}
.m-t-35{margin-top:35px!important}
.m-t-40{margin-top:40px!important}
.m-r-0{margin-right:0!important}
.m-r-1{margin-right:1px!important}
.m-r-2{margin-right:2px!important}
.m-r-3{margin-right:3px!important}
.m-r-4{margin-right:4px!important}
.m-r-5{margin-right:5px!important}
.m-r-10{margin-right:10px!important}
.m-r-15{margin-right:15px!important}
.m-r-20{margin-right:20px!important}
.m-r-25{margin-right:25px!important}
.m-r-30{margin-right:30px!important}
.m-r-35{margin-right:35px!important}
.m-r-40{margin-right:40px!important}
.m-b-0{margin-bottom:0!important}
.m-b-1{margin-bottom:1px!important}
.m-b-2{margin-bottom:2px!important}
.m-b-3{margin-bottom:3px!important}
.m-b-4{margin-bottom:4px!important}
.m-b-5{margin-bottom:5px!important}
.m-b-10{margin-bottom:10px!important}
.m-b-15{margin-bottom:15px!important}
.m-b-20{margin-bottom:20px!important}
.m-b-25{margin-bottom:25px!important}
.m-b-30{margin-bottom:30px!important}
.m-b-35{margin-bottom:35px!important}
.m-b-40{margin-bottom:40px!important}
.m-l-0{margin-left:0!important}
.m-l-1{margin-left:1px!important}
.m-l-2{margin-left:2px!important}
.m-l-3{margin-left:3px!important}
.m-l-4{margin-left:4px!important}
.m-l-5{margin-left:5px!important}
.m-l-10{margin-left:10px!important}
.m-l-15{margin-left:15px!important}
.m-l-20{margin-left:20px!important}
.m-l-25{margin-left:25px!important}
.m-l-30{margin-left:30px!important}
.m-l-35{margin-left:35px!important}
.m-l-40{margin-left:40px!important}
.p-0{padding:0!important}
.p-1{padding:1px!important}
.p-2{padding:2px!important}
.p-3{padding:3px!important}
.p-4{padding:4px!important}
.p-5{padding:5px!important}
.p-10{padding:10px!important}
.p-15{padding:15px!important}
.p-20{padding:20px!important}
.p-25{padding:25px!important}
.p-30{padding:30px!important}
.p-35{padding:35px!important}
.p-40{padding:40px!important}
.p-t-0{padding-top:0!important}
.p-t-1{padding-top:1px!important}
.p-t-2{padding-top:2px!important}
.p-t-3{padding-top:3px!important}
.p-t-4{padding-top:4px!important}
.p-t-5{padding-top:5px!important}
.p-t-10{padding-top:10px!important}
.p-t-15{padding-top:15px!important}
.p-t-20{padding-top:20px!important}
.p-t-25{padding-top:25px!important}
.p-t-30{padding-top:30px!important}
.p-t-35{padding-top:35px!important}
.p-t-40{padding-top:40px!important}
.p-r-0{padding-right:0!important}
.p-r-1{padding-right:1px!important}
.p-r-2{padding-right:2px!important}
.p-r-3{padding-right:3px!important}
.p-r-4{padding-right:4px!important}
.p-r-5{padding-right:5px!important}
.p-r-10{padding-right:10px!important}
.p-r-15{padding-right:15px!important}
.p-r-20{padding-right:20px!important}
.p-r-25{padding-right:25px!important}
.p-r-30{padding-right:30px!important}
.p-r-35{padding-right:35px!important}
.p-r-40{padding-right:40px!important}
.p-b-0{padding-bottom:0!important}
.p-b-1{padding-bottom:1px!important}
.p-b-2{padding-bottom:2px!important}
.p-b-3{padding-bottom:3px!important}
.p-b-4{padding-bottom:4px!important}
.p-b-5{padding-bottom:5px!important}
.p-b-10{padding-bottom:10px!important}
.p-b-15{padding-bottom:15px!important}
.p-b-20{padding-bottom:20px!important}
.p-b-25{padding-bottom:25px!important}
.p-b-30{padding-bottom:30px!important}
.p-b-35{padding-bottom:35px!important}
.p-b-40{padding-bottom:40px!important}
.p-l-0{padding-left:0!important}
.p-l-1{padding-left:1px!important}
.p-l-2{padding-left:2px!important}
.p-l-3{padding-left:3px!important}
.p-l-4{padding-left:4px!important}
.p-l-5{padding-left:5px!important}
.p-l-10{padding-left:10px!important}
.p-l-15{padding-left:15px!important}
.p-l-20{padding-left:20px!important}
.p-l-25{padding-left:25px!important}
.p-l-30{padding-left:30px!important}
.p-l-35{padding-left:35px!important}
.p-l-40{padding-left:40px!important}
.f-s-8{font-size:8px!important}
.f-s-9{font-size:9px!important}
.f-s-10{font-size:10px!important}
.f-s-11{font-size:11px!important}
.f-s-12{font-size:12px!important}
.f-s-13{font-size:13px!important}
.f-s-14{font-size:14px!important}
.f-s-15{font-size:15px!important}
.f-s-16{font-size:16px!important}
.f-s-17{font-size:17px!important}
.f-s-18{font-size:18px!important}
.f-s-19{font-size:19px!important}
.f-s-20{font-size:20px!important}
.text-center{text-align:center!important}
.text-left{text-align:left!important}
.text-right{text-align:right!important}
.f-w-100{font-weight:100!important}
.f-w-200{font-weight:200!important}
.f-w-300{font-weight:300!important}
.f-w-400{font-weight:400!important}
.f-w-500{font-weight:500!important}
.f-w-600{font-weight:600!important}
.f-w-700{font-weight:700!important}

/*.col-main {
padding:20px;
}*/
.panel {
    border: 1px solid rgba(52, 79, 94, 0.75) !important;
    box-shadow:0 1px 2px 0 rgba(62, 82, 99, 0.34);
}
.panel-inverse .panel-heading {
    background: #2f4050 none repeat scroll 0 0;
    color: #fff;
    border: none;
}.panel-heading-btn {
    float: right;
}
    .panel-heading-btn .btn-circle {
        height:20px;padding:0px; width:20px;
    }
 .panel-title {
    font-size: 14px;
    line-height: 20px;
}

 .panel-heading .nav-tabs {
    margin-top: -10px;
    margin-right: -15px;
}

 .panel-heading .nav-tabs {
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

    .panel-heading .nav-tabs li.active a,.panel-heading .nav-tabs li a:hover {
     background-color:#fff;
     color:#666;
    }
    .panel-heading .nav-tabs li a
{
    border-radius: 4px 4px 0 0;
    color:#fff;
    font-weight:initial;
} 

.clear-b {
clear:both;
}
.table  .btn-group > .dropdown-menu {
    left: auto;
    right: 0;
}
.table-responsive .bootstrap-table  .table > tbody > tr > td {
 padding:3px 8px;
 vertical-align: middle;
 word-break:break-all;
}
/* panel end*/

/* 主题菜单 begin*/
#right-sidebar.sidebar-open {
    right: 0;
}
#right-sidebar {
    background-color: #fff;
    border-left: 1px solid #e7eaec;
    border-top: 1px solid #e7eaec;
    overflow: hidden;
    position: fixed;
    top: 60px;
    width: 260px!important;
    z-index: 1009;
    bottom: 0;
    right: -260px;
}
.slimScrollDiv #side-menu{position:relative;padding-bottom:60px}
.slimScrollDiv>*{overflow:hidden}

/* 主题菜单 end */

 .cus-sel .dropdown-menu.open {   height: 240px !important;      }
 .cus-sel .dropdown-menu.open .dropdown-menu.inner.selectpicker {      height: 200px !important;    }

